@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 25 59% 21%;
    --card: 60 56% 94%;
    --card-foreground: 25 59% 21%;
    --popover: 60 56% 94%;
    --popover-foreground: 25 59% 21%;
    --primary: 120 25% 65%;
    --primary-foreground: 120 25% 15%;
    --secondary: 120 15% 80%;
    --secondary-foreground: 120 25% 15%;
    --muted: 120 15% 85%;
    --muted-foreground: 120 25% 35%;
    --accent: 25 59% 41%;
    --accent-foreground: 60 56% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 80%;
    --input: 120 10% 85%;
    --ring: 120 25% 65%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 6% 10%;
    --foreground: 60 56% 91%;
    --card: 20 6% 12%;
    --card-foreground: 60 56% 91%;
    --popover: 20 6% 10%;
    --popover-foreground: 60 56% 91%;
    --primary: 120 25% 65%;
    --primary-foreground: 120 25% 15%;
    --secondary: 120 15% 20%;
    --secondary-foreground: 60 56% 91%;
    --muted: 20 6% 15%;
    --muted-foreground: 60 25% 80%;
    --accent: 25 59% 51%;
    --accent-foreground: 60 56% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 6% 20%;
    --input: 20 6% 20%;
    --ring: 120 25% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
